.social-container {
  display: flex;
  gap: 35px;
  justify-content: right;
}

.social-icon {
  font-size: clamp(1rem, 2vw, 4rem);
  color: rgb(0, 0, 0);
  padding: clamp(0.5rem, 1vw, 0.5rem);
  box-shadow: 0 4px 15px rgba(1, 1, 1, 0.071);

  border: 1px solid rgb(105, 104, 104);
  border-radius: 10%;
  transition: 0.2s;

}

.social-icon:hover {
  color: rgb(254, 151, 253);

  transform: scale(1.1);
}

@media (max-width: 1080px) {
  .social-icon:hover {
    color: rgb(0, 0, 0);

    transform: scale(1);
  }

  .social-container {
    display: flex;
    gap: 35px;
    justify-content: right;
  }
}

@media (max-width: 768px) {
  .social-container {
    justify-content: center;
    gap: 20px;
  }
}